html {
    scroll-behavior: smooth;
}

body {
    background-image: url("resources/background.jpg");
}

a {
    text-decoration-line: none;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color: white;
    font-size: 70px;
    font-family: NSimSun;
}

h2{
    align-self: center;
    color: white;
    font-size: 70px;
    font-family: NSimSun;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.nav-bar a {
    font-family: NSimSun;
    color: white;
    font-size: 30px;
    height: 20px;
    width: 110px;
    text-decoration-line: none;
    margin-left: 40px;
}

.nav-bar a:hover {
    font-size: 50px;
    transition: all 200ms;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar li {
    list-style-type: none;
}

.hello {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    align-self: center;
    color: white;
    font-size: 35px;
    font-family: NSimSun;
    width: 1200px;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


small {
    color: cornflowerblue;
    bottom: 0;
    position: fixed;
}